@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

/*=================== General Styles ===================*/

* {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1f1f38;
  background-image: url(images/bg-texture.png);
  position: relative;
  overflow-anchor: none;
}

.container {
  width: 1000px;
}

/*=================== Accounts ===================*/

.accounts {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 35px;
  right: auto;
  z-index: 10;
}

.profiles::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #4db5ff;
}

.profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 25px;
  font-size: 1.3rem;
}

.accounts i {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
}

.accounts i:hover {
  color: #4db5ff;
  transform: translateY(-5px);
}

.email {
  position: fixed;
  bottom: 0px;
  right: 35px;
  left: auto;
  z-index: 10;
}

.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #4db5ff;
}

.email a {
  margin: 20px auto;
  padding: 10px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  writing-mode: vertical-rl;
  font-size: 0.8rem;
  transition: 0.5s;
}

.email a:hover {
  color: #4db5ff;
  transform: translateY(-10px);
}
/*=================== Navbar ===================*/

.logo img {
  width: 35px;
  height: 35px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem 2rem 3rem;
  z-index: 11111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.navbar.sticky {
  background: #252544;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 45px;
  font-size: 0.9rem;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.815);
  transition: 0.5s;
}

.nav-items a:hover {
  color: #4db5ff;
}

.nav-items i {
  color: #4db5ff;
  font-size: 0.7rem;
  margin-right: -2rem;
}

.resume {
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 400;
  border: 1px solid #4db5ff;
  background-color: transparent;
  color: #4db5ff;
  margin-left: 2rem;
}

.nav-items button {
  display: none;
}
/*=================== Header ===================*/

.header {
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: 5rem;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  margin-left: -0.2rem;
  color: rgba(255, 255, 255, 0.815);
}

.header h2 {
  font-size: 4.5rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  margin-left: -0.1rem;
}

.header p {
  font-size: 1rem;
  margin-top: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7rem;
}

.header h4 {
  color: #4db5ff;
  font-size: 1rem;
  margin-left: 0.1rem;
}

.contact-email {
  padding: 15px 30px;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  background-color: transparent;
  color: #4db5ff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.9rem;
  overflow: hidden;
  position: relative;
}

.contact-email:hover.contact-email::after {
  transform: translateX(100%);
}

.contact-email::after {
  content: "Email Me";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4db5ff;
  color: #252544;
}

.mob-header {
  display: none;
}
/*=================== About ===================*/

.about {
  display: flex;
  padding: 5rem 3.6rem;
  align-items: center;
  gap: 100px;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
  line-height: 1.5rem;
}

.about-content i {
  font-size: 0.8rem;
}

.about-content span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
}

.about-content i {
  color: #4db5ff;
}

.row-1 {
  display: flex;
  flex-direction: column;
}

.row-2 {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about-text h3 {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.815);
  font-weight: 600;
}

.about-text h3 b {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #4db5ff;
}

.about-text p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.95rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.about-img {
  width: 310px;
  height: 310px;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(-30px);
  }
}

/*=================== Projects ===================*/

.work {
  padding: 8rem 0;
}

.work h3 {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.815);
  font-weight: 600;
  margin-bottom: 2rem;
  margin-left: 3.6rem;
}

.work h3 b {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #4db5ff;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.project img {
  height: 350px;
  opacity: 0.5;
  transition: 0.5s;
  background-color: #252544;
  padding: 1rem;
  border-radius: 10px;
}

.project img:hover {
  opacity: 1;
}

.project-text {
  direction: rtl;
  z-index: 10000;
  margin-left: -3rem;
}

.project-text-center {
  z-index: 10000;
  margin-right: -3rem;
}

.project-text-center h4 {
  color: #4db5ff;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.project-text-center h2 {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.815);
}

.project-text-center p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: #252544;
  padding: 1.2rem 1.5rem;
  line-height: 1.2rem;
}

.project-text h4 {
  color: #4db5ff;
  font-size: 0.8rem;
  margin-bottom: 0;
}

.project-text h2 {
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.815);
}

.project-text p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  background-color: #252544;
  padding: 1.2rem 1.5rem;
  line-height: 1.2rem;
}

.tech-used span {
  font-size: 0.7rem;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

.view-project {
  margin-top: 1.3rem;
  margin-right: 1.2rem;
}

.view-project i {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 0.6rem;
}

.view-project i:hover {
  color: #4db5ff;
}

.project-text-center .view-project {
  margin-left: -0.6rem;
}

.githubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.githubTitle {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4rem;
}

.githubTitle b {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #4db5ff;
}

.githubChart {
  width: 820px;
  text-align: center;
}

.dates {
  padding: 10px;
  color: rgba(255, 255, 255, 0.815);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box {
  width: 15px;
  height: 15px;
  background-color: #171c25;
  border-radius: 2px;
  cursor: pointer;
  transition: 1s all ease;
}

.active:nth-child(4n) {
  background-color: #4db5ff;
}

.githubChart:hover .active:nth-child(2n + 1) {
  background-color: #4db5ff;
}

.githubChart:hover .active:nth-child(2n) {
  background-color: #4db5ff;
}

.githubContainer h3 b {
  font-size: 1rem;
  margin-right: 10px;
  color: #4db5ff;
}

.githubContainer h3 {
  color: rgba(255, 255, 255, 0.815);
  font-size: 1.4rem;
  margin-left: 0.1rem;
  font-weight: 700;
}

.githubSm {
  display: none;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  margin: 5rem 0 3rem 0;
  font-size: 0.8rem;
}

.profiles-sm {
  display: none;
}

@media screen and (max-width: 1180px) {
  .email {
    display: none;
  }

  .profiles {
    display: none;
  }

  .profiles-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 -2rem 0;
    padding: 0px;
    list-style: none;
    gap: 25px;
    font-size: 1.4rem;
  }
  .profiles-sm a {
    color: rgba(255, 255, 255, 0.815);
  }
}

@media screen and (max-width: 1024px) {
  .githubContainer {
    display: none;
  }

  .githubSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .githubSm h3 b {
    font-size: 1rem;
    color: #4db5ff;
    margin-right: 0.5rem;
  }

  .githubSm h3 {
    color: #4db5ff;
    font-size: 1.2rem;
    margin-left: 0.1rem;
  }

  .githubSm h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: rgba(255, 255, 255, 0.815);
  }

  .githubSm i {
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.815);
  }

  .githubSm h1 {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 3rem;
    line-height: 2.2rem;
  }

  .container {
    width: 90%;
  }

  .profiles {
    display: none;
  }

  .header h1 {
    font-size: 3.8rem;
  }

  .header h2 {
    font-size: 3rem;
  }

  .header p {
    font-size: 1.2rem;
    line-height: 1.9rem;
    margin-top: 2rem;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-text h3 {
    margin-bottom: 2rem;
  }

  .about-text p {
    line-height: 1.7rem;
    font-size: 1rem;
    margin-top: 2rem;
  }

  .about-content span {
    font-size: 1rem;
  }

  .work h3 {
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .project-text p br {
    display: none;
  }

  .project-text-center p br {
    display: none;
  }

  .email {
    display: none;
  }

  .copyright {
    font-size: 1rem;
  }
  .profiles-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 -2rem 0;
    padding: 0px;
    list-style: none;
    gap: 25px;
    font-size: 1.4rem;
  }
  .profiles-sm a {
    color: rgba(255, 255, 255, 0.815);
  }
}


@media screen and (max-width: 767px) {
  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .githubSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .githubSm h3 b {
    font-size: 0.9rem;
    color: #4db5ff;
    margin-right: 0.5rem;
  }

  .githubSm h3 {
    color: #4db5ff;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 0.1rem;
  }

  .githubSm h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: rgba(255, 255, 255, 0.815);
  }

  .githubSm i {
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.815);
  }

  .githubSm h1 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 3rem;
    line-height: 1.7rem;
  }

  .project img {
    display: none;
  }

  .about-img {
    align-items: center;
    justify-content: center;
  }

  .about {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    font-size: 2.4em;
  }

  .navbar button {
    display: none;
  }

  .navbar {
    padding: 2rem;
  }

  .navbar,
  .navbar.sticky {
    padding: 10px 20px;
  }

  .nav-items {
    display: none;
  }

  .nav-items i {
    margin: 0 0 -1rem -1rem;
  }

  .nav-items button {
    padding: 1rem 2.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid #4db5ff;
    background-color: transparent;
    color: #4db5ff;
    font-size: 1.2rem;
    display: flex;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .nav-items.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 35px;
    border-radius: 20px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #252544;
    gap: 35px;
    z-index: 11111;
  }

  .nav-items li {
    margin-left: -1.5rem;
  }

  .nav-items li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6em;
  }

  .menuToggle {
    position: relative;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background: url(images/menu-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToggle.active {
    background-size: 25px;
    background: url(images/icon-close.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 111111;
  }

  .githubContainer {
    display: none;
  }

  .header h4 {
    font-size: 1.2rem;
  }

  .header h2 {
    font-size: 2.1em;
    margin-bottom: 1em;
  }

  .project-text {
    margin-left: 0;
  }

  .project-text p br {
    display: none;
  }

  .project-text-center p br {
    display: none;
  }

  .project-text-center {
    margin-right: 0;
  }

  .work h3 {
    margin-left: 0;
    font-size: 1.4rem;
  }

  .about-content span {
    font-size: 0.9rem;
  }

  .project-text h4 {
    font-size: 1rem;
  }

  .project-text-center h4 {
    font-size: 1rem;
  }

  .project-text p {
    font-size: 0.9rem;
  }

  .project-text-center p {
    font-size: 0.9rem;
  }

  .about p br {
    display: none;
  }

  .about-text p {
    font-size: 0.85rem;
  }

  .about-text h3 {
    font-size: 1.4rem;
  }

  .header p br {
    display: none;
  }

  .header p {
    line-height: 1.7em;
  }

  .profiles {
    display: none;
  }

  .project {
    margin-bottom: 2.5rem;
  }

  .tech-used span {
    font-size: 0.9rem;
  }

  .email {
    display: none;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .profiles-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 -2rem 0;
    padding: 0px;
    list-style: none;
    gap: 25px;
    font-size: 1.4rem;
  }

  .profiles-sm a {
    color: rgba(255, 255, 255, 0.815);
  }
}

@media screen and (max-width: 375px) { 
  .container {
    width: 90%;
  }

  .header {
    font-size: 0.8rem;
  }

  .header p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 280px) { 
  .header {
    font-size: 0.7rem;
  }

  .header h4 {
    font-size: 0.9rem;
  }

  .header p {
    font-size: 0.8rem;
  }

  .about-text p {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .about-content span {
    font-size: 0.7rem;
  }

  .about-img img {
    width: 220px;
    height: 220px;
  }

  .project-text p {
    font-size: 0.8rem;
  }
  
  .project-text-center p {
    font-size: 0.8rem;
  }
}